@model  HKOWebMVC4.Models.HKOWebModels.KolegijiPregled

<h5>@Html.MvcSiteMap().SiteMapPath() > Pregled kolegija</h5>

<nav class="navbar navbar-default navbar-inverse" style="background-color:cornflowerblue">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: beige; font-size:large">Kolegiji</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a data-toggle="pill" href="#obavezni">Obavezni kolegiji</a></li>
                <li role="presentation"><a data-toggle="pill" href="#izborni">Izborni kolegiji</a></li>
                <li role="presentation"><a data-toggle="pill" href="#preporuceni">Preporučeni izborni kolegiji</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="tab-content">
    <div id="obavezni" class="tab-pane fade in active">
        <table id="obavezniTable">
            <thead>
                <tr>
                    <th>Kolegij</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.obavezniKolegijiResult.ToList()) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Kolegij)</td>
                        <td class="text-center">@Html.ActionLink("Ishodi učenja", "IshodiUcenja", new { controller = "BuduciStudent", kolegijId = item.KolegijID }, new { @class = "btn btn-success" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="izborni" class="tab-pane fade">
        <table id="izborniTable" style="width:100%">
            <thead>
                <tr>
                    <th>Kolegij</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.izborniKolegijiResult.ToList()) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Kolegij)</td>
                        <td class="text-center">@Html.ActionLink("Ishodi učenja", "IshodiUcenja", new { controller = "BuduciStudent", kolegijId = item.KolegijID }, new { @class = "btn btn-success" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="preporuceni" class="tab-pane">
        <table id="preporuceniTable" style="width:100%">
            <thead>
                <tr>
                    <th>Kolegij</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.preporuceniKolegijiResult.ToList()) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Kolegij)</td>
                        <td class="text-center">@Html.ActionLink("Ishodi učenja", "IshodiUcenja", new { controller = "BuduciStudent", kolegijId = item.KolegijID }, new { @class = "btn btn-success" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.ActionLink("Povratak", "Index", new { controller = "BuduciStudent" }, new { @class = "btn btn-primary" })
